<footer class="magic-footer">
    <div class="wave-bg"></div>
    <div class="magic-container">
      <h2 class="logo"><span class="fw-bold">FCFA</span> Xaalis Menager <i class="bi bi-wallet2 text-primary fs-4 me-1"></i></h2>
      <p class="description">Prends le contrôle de tes finances. Simple, rapide, efficace.</p>
  
      <div class="magic-links">
        <a routerLink="/dashboard" routerLinkActive="active">Accueil</a>
        <a routerLink="/apropos" routerLinkActive="active">À propos</a>
        <a routerLink="/settings" routerLinkActive="active">Paramètres</a>
      </div>
  
      <div class="socials">
        <a href="https://www.facebook.com/twokeisenegal"><i class="bi bi-facebook"></i></a>
        <a href="https://www.linkedin.com/company/two-key-technologie/"><i class="bi bi-linkedin"></i></a>
        <a href="https://www.instagram.com/two_key_tech/"><i class="bi bi-instagram"></i></a>
        <a href="#"><i class="bi bi-github"></i></a>
      </div>
  
      <p class="copyright">
        © 2025 <strong>Xaalis Menager</strong> — Tous droits réservés.
      </p>
    </div>
  </footer>
  