<div class="container mt-4">
  <div class="card shadow-sm mb-4 p-3">
    <h4 class="mb-3">
      <i class="bi bi-bar-chart-fill text-primary me-2"></i>
      Revenus vs Dépenses (par mois)
    </h4>
    <canvas baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            chartType="bar">
    </canvas>
  </div>

  <div class="card shadow-sm mb-4 p-3">
    <h4 class="mb-3">
      <i class="bi bi-pie-chart-fill text-danger me-2"></i>
      Répartition par Catégorie
    </h4>
    <canvas baseChart
            [data]="pieChartData"
            [type]="pieChartType"
            [options]="barChartOptions">
    </canvas>
  </div>
</div>
